/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #6dda25;
  --ifm-color-primary-dark: #62c421;
  --ifm-color-primary-darker: #5db91f;
  --ifm-color-primary-darkest: #4c991a;
  --ifm-color-primary-light: #7cde3b;
  --ifm-color-primary-lighter: #83e046;
  --ifm-color-primary-lightest: #99e566;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #6dda25;
  --ifm-color-primary-dark: #62c421;
  --ifm-color-primary-darker: #5db91f;
  --ifm-color-primary-darkest: #4c991a;
  --ifm-color-primary-light: #7cde3b;
  --ifm-color-primary-lighter: #83e046;
  --ifm-color-primary-lightest: #99e566;
}