{{- define "main" -}}
<div class="flex flex-col justify-center">
  <article class="container mx-auto prose prose-slate lg:prose-xl dark:prose-invert">
    <h1 class="lg:text-6xl">{{ i18n "page_not_found" }}</h1>
    
    <p>Go to the <a href="/">🏠 Home Page</a></p>

    {{/* Suggest recently published pages to the user. */}}

    {{/* <p>{{ i18n "404_recommendations" }}</p> */}}

    {{ $query := where (where (where (where site.Pages.ByDate.Reverse "Title" "!=" "") "Kind" "in" (slice "page" "section")) "Params.private" "!=" true) "Permalink" "!=" "" }}
    {{ $count := len $query }}
    {{ if gt $count 0 }}
    {{/* <h2>{{ i18n "user_profile_latest" }}</h2> */}}
    <ul>
      {{ range first 0 $query }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
    <img src="/blog/404.png" alt="404" width="500" height="500">
    <p>Image by <a href="https://pixabay.com/users/道灵-39183718/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8908707">道灵</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8908707">Pixabay</a></p>
    {{ end }}

  </article>
</div>

{{- end -}}